html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-transform:uppercase;
}

img {
    border: 0;
}

p {
    margin: 0 0 1em 0 !important;
}

p, ul, li {
    font-family: "brandon-grotesque-n4", "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 400;
}

#header, #content, #navigation, .region-sidebar-first, .region-sidebar-second, #footer, .region-page-closure {
    overflow: visible;
    word-wrap: break-word;
}

#page-wrapper, #page, #header {
    height: 100%;
    background-attachment: scroll;
    background-position: center center;
}

#page-wrapper, body {
    background: url('/public/images/cedric-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
}

#navigation {
    font-size: 12px;
    margin-top: 20px;
    padding: 20px 0px 32px;
    background: none;

    overflow: hidden;

    word-wrap: break-word;

    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%;
    height: 2.3em;
}

#navigation ul {
    list-style-type: none;
    text-align: center;

    margin: 0 auto;
    width: 100%;
    padding: 0;
}

#navigation li {
    display: inline-block;
    margin: 0 8px;
}

#navigation li a {
    color: #a69257;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    display: block;
    padding: 8px 18px;
    border: 2px solid #a69257;
    font-family: "brandon-grotesque-n5", "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 500;
}

#navigation.sticky-nav {
    position: fixed;
    z-index: 90;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    margin-top: 0;
    transition: background 0.6s;
}

#name-and-slogan {
    position: relative;
    padding-top: 230px;
}

h1#site-name, div#site-name {
    margin: 0;
    font-size: 2em;
    line-height: 1.3em;
}

h1#site-name {
    text-align: center;
    padding: 30px 0 10px;
    font-family: "brandon-grotesque-n7", "brandon-grotesque", "sans-serif";
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: 10px;
    text-rendering: optimizeLegibility;
}

h1#site-name a {
    color: #f7eee6 !important;
}

h2 {
    font-family: "brandon-grotesque-n5", "brandon-grotesque", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3em;
    margin-top: 0.667em;
    margin-bottom: 60px;
    letter-spacing: 2px;
}

#site-name a:link, #site-name a:visited {
    color: #000;
    text-decoration: none;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#main-wrapper {
    position: relative;
}
#content {
    float: left;
    width: 100%;
    margin-left: 0;
    margin-right: -100%;
    padding: 0;
}
#main #content .section {
    background: #dee6ec;
}
#content .section, .no-sidebars #content .section {
    margin: 0;
    padding: 0;
}

.region-content-top {
    width: 960px;
    margin: 0 auto;
    padding: 150px 0 80px;
}

.block {
    margin-bottom: 1em;
}

.view-thumbnails {
    height: 595px;
    margin-bottom: 40px;
}

.block, .view-thumbnails {
    margin-bottom: 0;
}

.view-thumbnails .views-row {
    width: 260px;
    float: left;
    margin: 0 10px 0 40px;
    position: relative;
    height: 265px;
}

.view-thumbnails h2.title {
    font-family: "brandon-grotesque-n4","brandon-grotesque",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #222;
    font-weight: normal;
    text-decoration: none;
    position: absolute;
    top: 159px;
    letter-spacing: 0;
    margin-bottom: 1em;
    margin-top: 0;
}

.view-thumbnails p {
    color: #5e5e5e;
    font-family: "brandon-grotesque-i4", "brandon-grotesque", sans-serif;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
    width: 260px;
    padding-bottom: 5px;
    padding-top: 45px;
    text-transform: none;
    font-size: 14px;
}

#content-area .views-row {
    background: #15191d;
}

.node-type-page, .node-type-webform {
    color: #5e5e5e;
    padding: 30px 35px 14px;
    margin: 0 0 40px 40px;
}

.node-type-page p {
    text-align: justify;
}

#node7.node-type-page {
    padding-bottom: 0 !important;
}

#node-7.node-type-page {
    width: 880px;
    margin: 0 auto;
    padding: 120px 40px;
}

.node-type-page h2.title, .node-type-webform h2.title {
    padding-bottom: 15px;
    color: #fff;
    letter-spacing: 5px;
    text-align: center;
    background: url(/public/images/line.png) center bottom no-repeat;
    padding-bottom: 30px;
}

#node-7 .content {
    text-transform: none;
    font-size: 18px;
    line-height: 26px;
    color: #6c6d6e;
}

#node-7 .content .left-text {
    margin-right: 40px;
}

#node-7 .content div {
    width: 420px;
    float: left;
    margin-bottom: 20px;
}